<div class="header header-absolute">
  <div class="container">

    <!-- Text Logo -->
    <div class="logo">
      <a href="{{ .Site.BaseURL | relURL }}">
        <span class="site-title">Kipu</span>
      </a>
    </div>

    <!-- Mobile Text Logo (same styling for now) -->
    <div class="logo-mobile">
      <a href="{{ .Site.BaseURL | relURL }}">
        <span class="site-title">Kipu</span>
      </a>
    </div>

    {{ partial "main-menu.html" . }}
    {{ partial "hamburger.html" . }}

  </div>
</div>
