<div class="header header-absolute">
  <div class="container">

    <!-- Desktop Logo -->
    <div class="logo">
      <a href="{{ .Site.BaseURL }}">
        <img src="{{ "images/logo.png" | relURL }}" alt="Kipu logo">
      </a>
    </div>

    <!-- Mobile Logo -->
    <div class="logo-mobile">
      <a href="{{ .Site.BaseURL }}">
        <img src="{{ "images/logo.png" | relURL }}" alt="Kipu logo">
      </a>
    </div>

    {{ partial "main-menu.html" . }}
    {{ partial "hamburger.html" . }}

  </div>
</div>
