.logo {
  display: none;

  @include media-breakpoint-up(sm) {
    display: block;
    max-width: none;
  }

  img {
    height: auto;
    width: auto;
    max-height: 100px; // ✅ Ajusta aquí el tamaño final
  }

  a {
    display: block;
    text-decoration: none;
  }
}

.logo-mobile {
  display: block;
  padding: 10px 0;

  @include media-breakpoint-up(sm) {
    display: none;
  }

  img {
    max-height: 64px;
    height: auto;
    width: auto;
  }

  a {
    display: block;
  }
}
